#calci-body{
   
    align-self: center;
    margin-left: 500px;
    margin-top: 150px;
    margin-right: 590px;
    margin-bottom: 300px;
    padding: 10px 10px 10px 10px;
}

#calci-display{
    padding: 15px 15px 15px 15px;
}

.custom-border{
    border: 2px solid black;
    border-style: groove;
    border-radius: 5px;
}

.key{
    border: 2px solid black;
    border-style: groove;
    border-radius: 5px;
    margin: 12px 12px 12px 12px;
    padding: 10px 20px 10px 10px;
}

#keys{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

